@import "./../node_modules/bulma/sass/utilities/initial-variables";
@import "./../node_modules/bulma/sass/utilities/functions";

$body-size: 14px;

@import "../node_modules/bulma/bulma.sass";

@import './components/changelog.scss';
@import './components/textual-steps.scss';
@import './components/toc.scss';

html {
    &.has-navbar-fixed-top {
        padding-top: 0;

        body {
            padding-top: 0;
            margin-top: $navbar-height;
        }
    }
}

body {
    height: calc(100vh - #{$navbar-height});
    min-height: calc(100vh - #{$navbar-height});
    overflow: hidden;

    .full-height-scrollable-content {
        height: calc(100vh - #{$navbar-height});
        min-height: calc(100vh - #{$navbar-height});
        overflow-y: auto;
    }
}

.menu-group {
    .icon {
        float: right;
        &,
        &.is-small,
        &.is-medium,
        &.is-large {
            height: 1.5em;
            width: 1.5em;
        }

        &:first-child:not(:last-child) {
            margin-left: calc(-0.375em - 1px);
            margin-right: 0.1875em;
        }

        &:last-child:not(:first-child) {
            margin-left: 0.1875em;
            margin-right: calc(-0.375em - 1px);
        }

        &:first-child:last-child {
            margin-left: calc(-0.375em - 1px);
            margin-right: calc(-0.375em - 1px)
        }
    }

    &.is-expanded {
        .icon {
            transform: rotate(90deg);
        }
    }
}

// Add a space between an icon and the text
.icon+span {
    margin-left: .5rem;
}
