@import "./../node_modules/bulma/sass/utilities/initial-variables";
@import "./../node_modules/bulma/sass/utilities/functions";

$body-size: 14px;

@import "../node_modules/bulma/bulma.sass";

@import './components/changelog.scss';
@import './components/sidebar.scss';
@import './components/textual-steps.scss';
@import './components/toc.scss';

html {
    &.has-navbar-fixed-top {
        padding-top: 0;

        body {
            padding-top: 0;
            margin-top: 3.25rem;
        }
    }
}

body {
    height: calc(100vh - 3.25rem);
    min-height: calc(100vh - 3.25rem);
    overflow: hidden;
}

.page-content {
    overflow: auto;
    height: 100%;
}

.main-content {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

// Add a space between an icon and the text
.icon+span {
    margin-left: .5rem;
}
