@import './components/changelog.scss';
@import './components/textual-steps.scss';
@import './components/toc.scss';

$material-like-button-background-color: $primary !default;
$material-like-button-color: $white !default;
$material-like-button-label-background-color: lighten($primary, 10%);
$material-like-button-shadow: 0 3px 5px 0 #666 !default;
$material-like-button-hover-shadow: 0 3px 10px 0 #666;

.navbar-item.title.is-4 {
    margin-bottom: 0;
}

html {
    &.has-navbar-fixed-top {
        padding-top: 0;

        body {
            padding-top: 0;
            margin-top: $navbar-height;
        }
    }
}

body {
    height: calc(100vh - #{$navbar-height});
    min-height: calc(100vh - #{$navbar-height});
    overflow: hidden;

    .full-height-scrollable-content {
        height: calc(100vh - #{$navbar-height});
        min-height: calc(100vh - #{$navbar-height});
        overflow-y: auto;
    }
}

@include touch {
    body {
        .full-height-scrollable-content {
            height: calc(100vh - #{$navbar-height} * 2);
            min-height: calc(100vh - #{$navbar-height} * 2);
            overflow-y: auto;
        }
    }
}

.menu-group {
    .icon {
        float: right;
        &,
        &.is-small,
        &.is-medium,
        &.is-large {
            height: 1.5em;
            width: 1.5em;
        }

        &:first-child:not(:last-child) {
            margin-left: calc(-0.375em - 1px);
            margin-right: 0.1875em;
        }

        &:last-child:not(:first-child) {
            margin-left: 0.1875em;
            margin-right: calc(-0.375em - 1px);
        }

        &:first-child:last-child {
            margin-left: calc(-0.375em - 1px);
            margin-right: calc(-0.375em - 1px)
        }
    }

    &.is-expanded {
        .icon {
            transform: rotate(90deg);
        }
    }
}

// Add a space between an icon and the text
.icon+span {
    margin-left: .5rem;
}

span+.icon {
    margin-left: .5rem;
}

// Force the margin-left when using span+.icon in a button element
// otherwise the margin seems to small to me
.button span+.icon {
    margin-left: .5rem !important;
}

.page-header {
    h1 {
        margin-top: 0 !important;
    }
}

// Anchor behaviour
h2, h3, h4, h5, h6  {
    a {
        visibility: hidden;
    }

    &:hover {

        a {
            visibility: visible;
        }
    }
}


.material-like-container {
    display: flex;
    flex-direction: column;
    height: auto;
    cursor: pointer;
    opacity: 1;
    outline: 0;
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: bottom .2s,opacity .2s;
    user-select: none;
    width: 56px;
    z-index: 500;

    &.hide {
        bottom: -56px;
        opacity: 0;
    }

    .material-like-container-body {
        opacity: 0;
        margin-bottom: 1rem;
        transition: opacity .2s;

        &.show {
            opacity: 1;
        }
    }

    .material-like-button {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: $material-like-button-background-color;
        color: $material-like-button-color;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $material-like-button-shadow;

        &.close-open-button {
            .icon {
                transition: all .2s ease-in-out;
            }

            &.is-open {
                .icon {
                    transform: rotate(225deg);
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        &:hover {
            transition: all .1s ease-in-out;
            transform: scale(1.05);
            box-shadow: 0 3px 10px 0 #666;

            .material-like-button-label {
                box-shadow: $material-like-button-hover-shadow;
            }
        }
    }

    .material-like-button-label {
        position: absolute;
        right: 5rem;
        white-space: nowrap;
        padding: .5rem;
        border-radius: 5px;
        background-color: $material-like-button-background-color;
        color: $material-like-button-color;
        box-shadow: $material-like-button-shadow;
    }
}

.navigation-container {
    padding: 0 2rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@include touch {
    .navigate-to-next {
        margin-right: 5rem;
    }
}

@include desktop-only {
    .mobile-menu {
        display: none;
    }
}

@include touch {
    .mobile-menu {
        display: flex;
        flex-direction: revert;
        align-items: center;
        height: $navbar-height;
        background: $white-ter;

        .menu-trigger {
            .icon {
                margin-right: 0;
            }
        }

        .breadcrumb>ul>li:last-child {
            font-weight: $weight-bold;
        }
    }
}

@include touch {
    .is-main-content {
        .section {
            padding-top: 1rem;
        }
    }
}


.column.is-menu-column {
    &.force-show {
        display: block !important;
        padding: 0 !important;

        .menu-container {
            position: fixed;
            left: 0;
            background: $white-bis;
            width: 100%;
            height: 100%;
            padding-left: 2rem;
            z-index: 100;

        }
    }
}
