@import './components/changelog.scss';
@import './components/textual-steps.scss';
@import './components/navigation-button.scss';

// Remove bottom margin of the name of the project in the navbar otherwise a the navbar is distorted
.navbar-item.title.is-4 {
    margin-bottom: 0;
}

// Allow to add `is-active` class to navbar div item
div.navbar-item {
    cursor: default;
    &.is-active {
        background-color: $navbar-item-hover-background-color;
        color: $navbar-item-hover-color;
    }
}

// Collapsible / Expandable menu
.menu-group {
    .icon {
        float: right;
        &,
        &.is-small,
        &.is-medium,
        &.is-large {
            height: 1.5em;
            width: 1.5em;
        }

        &:first-child:not(:last-child) {
            margin-left: calc(-0.375em - 1px);
            margin-right: 0.1875em;
        }

        &:last-child:not(:first-child) {
            margin-left: 0.1875em;
            margin-right: calc(-0.375em - 1px);
        }

        &:first-child:last-child {
            margin-left: calc(-0.375em - 1px);
            margin-right: calc(-0.375em - 1px)
        }
    }

    &.is-expanded {
        .icon {
            transform: rotate(90deg);
        }
    }
}

// Add a space between an icon and the text
.icon+span {
    margin-left: .5rem;
}

span+.icon {
    margin-left: .5rem;
}

// Force the margin-left when using span+.icon in a button element
// otherwise the margin seems to small to me
.button span+.icon {
    margin-left: .5rem !important;
}

.page-header {
    min-height: 1em;
    margin-bottom: 1em;

    h1 {
        margin-top: 0 !important;
        margin-bottom: 1em;
    }
}

// Anchor behavior
h2, h3, h4, h5, h6  {
    a {
        visibility: hidden;
    }

    &:hover {

        a {
            visibility: visible;
        }
    }
}

// Make sure that when jumping to an anchor, that anchor is displayed just below the navbar and visible

// On desktop and above we only have the navbar to take into account
@include desktop {
    .anchor {
        padding: #{$navbar-height + 1rem} 0 0;
    }
}

// On touch screen we need to take into account the navbar and the breadcrumb
@include touch {
    .anchor {
        padding: #{$navbar-height * 2 + 1rem} 0 0;
    }
}

@include desktop {
    .mobile-menu {
        display: none;
    }
}

@include touch {
    .mobile-menu {
        display: flex;
        flex-direction: revert;
        align-items: center;
        height: $navbar-height;
        background: $white-ter;
        position: sticky;
        top: $navbar-height;
        z-index: 1;

        .menu-trigger {
            .icon {
                margin-right: 0;
            }
        }

        .breadcrumb>ul>li:last-child {
            font-weight: $weight-bold;
        }
    }
}

@include touch {
    .is-main-content {
        .section {
            padding-top: 1rem;
        }
    }
}

// Ensure minimal size of the doc content
// This allows to not have the 'Previous' & 'Next' button in the middle of the screen
// when their are not a lot of content on the page
.is-main-content > .section {
    min-height: calc(
        100vh - 7.5em
    ); // 7.5em = 3em (section margin top) - 3em (section margin bottom) - 1.5em (to not stick too low)
}

.menu-container {
    // Make the menu container "static" and always displayed at the same place
    // The menu container has its own scrollbar if needed
    // 3.25rem is the navbar height but it is not yet available at this point of the SCSS compilation
    position: sticky;
    top: $navbar-height;
    // margin: 3.25rem 0 0;
    overflow-y: auto;
    overscroll-behavior: contain;
    height: calc(100vh - #{$navbar-height});

    .menu {
        margin-top: $navbar-height;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.column.is-menu-column {
    &.force-show {
        display: block !important;
        padding: 0 !important;

        .menu-container {
            position: fixed;
            left: 0;
            background: $white-bis;
            width: 100%;
            z-index: 2;
            margin-top: $navbar-height;
        }
    }
}

.content {
    .breadcrumb > ul > li:last-child {
        font-weight: $weight-bold;
    }

    & li + li {
        margin-top: 0;
    }

    // Prevents long words from breaking the layout.
    word-break: break-all;
}

// Customize the menu to have a better display and also support TOC in it

.menu-trigger {
    @include hamburger($navbar-height);
}

.breadcrumb {
    ul {
        margin-left: 0;
        margin-top: 0;
    }

    li {
        height: $navbar-height;
    }
}

// Style relative to the snippet and copy button
pre {
    position: relative; // Make the pre relative so the copy button and positioned itself relative to it
    padding-top: $size-4 !important; // This padding is to display correctly the button even if the snippet has only 1 line of code
    padding-bottom: $size-4 !important; // This padding is to display correctly the button even if the snippet has only 1 line of code

    button.is-copy-button {
        visibility: hidden;
    }

    &:hover {
        button.is-copy-button {
            visibility: visible;
        }
    }
}

button {
    &.is-copy-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}
