// API gen specific

$nacara-api-keyword-color: #a626a4 !default;
$nacara-api-type-color: #c18401 !default;

.api-code {
    font-family: monospace;
    margin-bottom: 1rem;
    scroll-margin-top: 5.25rem;

    pre {
        background-color: transparent;
    }

    .line {
        white-space: nowrap;
    }

    a.record-field-name,
    a.union-case-property,
    a.property {
        // color: #4078f2;
        color: darken($primary, 4%);

        &:hover {
            text-decoration: underline;
        }
    }

    span.property {
        color: darken($primary, 4%);
    }

    @keyframes blink {
        0% {
            background-color: lighten($primary, 4%);
            color: $white;
        }
        100% {
            background-color: transparent;
            color: $link;
        }
    }

    .property[id],
    a[id] {
        &:target {
            animation-name: blink;
            animation-direction: normal;
            animation-duration: 0.75s;
            animation-iteration-count: 2;
            animation-timing-function: ease;
        }

        // On desktop and above we only have the navbar to take into account
        @include desktop {
            &[id] {
                scroll-margin-top: $computed-navbar-height + 1rem;
            }
        }

        // On touch screen we need to take into account the navbar and the breadcrumb
        @include touch {
            &[id] {
                scroll-margin-top: $computed-navbar-height + $navbar-height + 1rem;
            }
        }
    }

    .keyword {
        color: $nacara-api-keyword-color;
    }

    .type {
        color: $nacara-api-type-color;
    }
}

.docs-summary {
    margin-top: 2rem;
    margin-bottom: 2rem;
    // border-top: 1px solid $grey-dark;
}

dl.docs-parameters {
    margin-left: 1rem;
}

dl.docs-parameters dt:not(:first-child) {
    padding-top: 1rem;
    border-top: 1px solid $grey-dark;
}

/* dl.docs-parameters dt:before {
    position: absolute;
    margin-left: -0.5rem;
    display: inline-block;
    content: '-';
} */

dl.docs-parameters dd {
    margin-top: 1em;
    margin-bottom: 1em;
}

.doc-parameter {
    margin-bottom: 1rem;
}

dl.docs-parameters dt code {
    color: currentColor;
}

.docs-summary a.type,
dl.docs-parameters dt a.type {
    color: $nacara-api-type-color;
}

.docs-summary a.type:hover,
.api-code .type:hover,
dl.docs-parameters dt a.type:hover {
    text-decoration: underline;
    cursor: pointer;
}

dt.api-code {
    .return-type {
        a {
            color: $nacara-api-type-color;
        }
    }
}

.record-field {
    .record-field-type {
        a {
            color: $nacara-api-type-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .record-field-name {
        // color: $text;

        &:hover {
            text-decoration: underline;
        }
    }
}

a.union-case-property {
    &:hover {
        text-decoration: underline;
    }
}

.table.api-code {
    td {
        padding: 0.25rem;
        border: unset;
    }
}
