@import "./../node_modules/bulma/sass/utilities/initial-variables";

$primary: rgb(175, 64, 133);
$text: #2b2b2b;

$navbar-item-color: $white;
$body-size: 14px;

@import './../node_modules/bulma/bulma.sass';
@import './../scss/nacara.scss';
