$changelog-tag-width: 102px;

.changelog {

    // Fix margin of p element inside of list element
    // Example of markdown related to that
    // - [Fable Gitter](https://gitter.im/fable-compiler/Fable)

    //     Fable specific discussion and networking channel <-- This line

    // - [Slack](https://fsharp.org/guides/slack/)
    .content {
        ol, li {
            p:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }

    ul.changelog-list {
        list-style-type: none;
        padding: 0;

        li.changelog-list-item {
            padding-bottom: .5rem;
            position: relative;
            display: flex;

            &::before {
                border-left: 1px solid rgba(122,122,122,.25);
                content: ' ';
                height: calc(100% + .25rem);
                left: $changelog-tag-width * 0.5;
                position: absolute;
                top: 0px;
                z-index: -1;
            }

            &.is-version {
                padding-top: 2rem;
                padding-bottom: .5rem;
                margin: 2rem 0 0 0;

                &:not(:first-child) {
                    border-top: 1px solid rgba(122,122,122,.25);
                }

                .release-date {
                    display: inline-flex;
                    align-items: center;
                }
            }

            .tag {
                margin-right: 1.25em;
                min-width: $changelog-tag-width;
            }

            .changelog-list-item-text {
                display: flex;
                align-items: center;
            }

            .changelog-details {
                width: 100%;
                position: relative;
                padding: 0 0 0 8.5em;
            }
        }
    }
}
