@charset "utf-8";

// Style relative to the snippet and copy button
pre {
    position: relative; // Make the pre relative so the copy button and positioned itself relative to it
    padding-top: $size-4 !important; // This padding is to display correctly the button even if the snippet has only 1 line of code
    padding-bottom: $size-4 !important; // This padding is to display correctly the button even if the snippet has only 1 line of code

    button.is-copy-button {
        visibility: hidden;
    }

    &:hover {
        button.is-copy-button {
            visibility: visible;
        }
    }
}
