.bd-docs-pagination.bd-pagination-links {
    border-top: 2px solid #f5f5f5;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;

    .bd-fat-button {
        font-weight: 600;
        height: auto;
        padding: .75em 1.25em;

        @include mobile {
            & {
                font-size: 1.5rem;
            }
        }

        @include tablet {
            & {
                font-size: 1rem;
            }
        }

        @include desktop {
            & {
                font-size: 1.25em;
            }
        }

        &.bd-pagination-next {
            margin-left: auto;

            span {
                margin-right: 1em;
            }
        }

        &.bd-pagination-prev {
            span {
                margin-left: 1em;
            }
        }

        span {
            text-align: left;
            line-height: 1.25;

            em {
                display: block;
                font-size: .75em;
                font-style: normal;
                font-weight: 400;
                opacity: .5;
                text-transform: capitalize;
            }
        }
    }
}
