// Container used for the Next / Previous page buttons
.navigation-container {
    padding: 0 2rem 1rem;

    .button {
        @include block;
    }
}

@include mobile {
    .navigation-container {
        text-align: center;
    }
}

@include tablet {
    .navigate-to-next {
        float: right;
    }
}
