@charset "utf-8";

$textual-steps-color: $grey-lighter !default;

ul.textual-steps {
    list-style: none;
    padding-left: 0;
    counter-reset: textual-steps;
    position: relative;

    >li {
        position: relative;
        padding-left: 4em;
        margin-bottom: 2em;
        padding-top: 1em;

        &::before {
            content: counter(textual-steps, decimal-leading-zero) ".";
            counter-increment: textual-steps;
            position: absolute;
            top: 0;
            left: 0;
            color: $textual-steps-color;
            font-size: $size-3;
            font-weight: $weight-bold;
        }
    }
}
