$toc-item-active-background-color: transparent !default;
$toc-item-active-color: $link !default;
$toc-item-active-font-weight: $weight-normal !default;
$toc-item-hover-color: $link !default;
$toc-item-hover-background-color: transparent !default;


.toc-container {
    // position: fixed;
    border-left: 1px solid #e0e0e0;
    padding-left: 1rem;
    position: sticky;
    top: 3.25rem;
    font-size: 12px;

    a {
        color: $text;
        &:hover {
            color: $toc-item-hover-color;
        }

        &.is-active {
            background-color: $toc-item-active-background-color;
            color: $toc-item-active-color;
            font-weight: $toc-item-active-font-weight;
        }
    }

    .toc-label {
        color: #7a7a7a;
        font-size: 1em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding: 10px 0 0 0;
    }

    .toc-headings {
        padding: 10px 0 2px 15px;

        > li {
            padding: 6px 0 2px 0px;
        }
    }
}
