@import "./../node_modules/bulma/sass/utilities/initial-variables";

// Color palette
// https://lospec.com/palette-list/fluffy8

/////////////////////////////////
/// Customize Bulma
/////////////////////////////////
$primary: #7679db;
$text: #2b2b2b;
$danger: #c43636;

@import "./../node_modules/bulma/sass/utilities/derived-variables";

/////////////////////////////////
/// nacara-layout-standard customizations
/// Do not touch unless you know what you are doing
/////////////////////////////////
$navbar-breakpoint: 0px;
$navbar-padding-vertical: 0.5rem;
$navbar-padding-horizontal: 1rem;
/////////////////////////////////

// Specific to gatsby-remark-vscode usage
$content-pre-padding: unset;

/////////////////////////////////
/// Customize Bulma
/////////////////////////////////

$navbar-item-color: $white;
$navbar-background-color: $primary;
$navbar-item-active-color: $white;
$navbar-item-active-background-color: lighten($primary, 4%);
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: lighten($primary, 4%);
$navbar-dropdown-item-active-background-color: lighten($primary, 4%);
$navbar-dropdown-item-hover-background-color: lighten($primary, 4%);
$navbar-dropdown-item-hover-color: $white;
$navbar-dropdown-item-active-color: $white;

$menu-item-active-background-color: $primary;
$menu-item-active-color: $white;
$menu-item-hover-color: $primary;
$menu-item-hover-background-color: transparent;
$menu-label-font-size: $size-6;
$menu-item-radius: $radius-large $radius-large;

$footer-background-color: $primary;
$footer-color: $white;

$link: darken($primary, 4%);
$code: $red;

$body-size: 14px;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "./../node_modules/bulma/bulma.sass";
@import "./../node_modules/nacara-layout-standard/scss/nacara.scss";

// Begin gatsby-remark-vscode specific
:root {
    --grvsc-padding-v: 1.25rem;
}

// Make the code use the full width for when user use line highlighting
.content {
    pre > code {
        width: 100%;
    }
}
// End gatsby-remark-vscode specific

// Override bulma
.navbar {
    .navbar-dropdown {
        @include desktop {
            // Force navbar item text color otherwise it is the same as $navbar-item-color
            // Which is white in our case...
            .navbar-item {
                color: $text;
            }
        }
    }

    .navbar-link {
        &:not(.is-arrowless)::after {
            border-color: $white;
        }
    }
}

// Nacara documentation site specific rules

.content {
    .table {
        &.is-vcentered {
            td,
            th {
                vertical-align: middle;
            }
        }

        .label-cell {
            white-space: nowrap;
            text-align: center !important;
            vertical-align: middle !important;
        }

        // Force call to take the maximum place
        .fullwidth-cell {
            width: 100%;
        }
    }
}

.index-quick-start {
    background-color: $primary;
    color: $white;
    padding: 3rem;

    @include desktop {
        border-radius: $radius-large;
    }

    .terminal {
        background-color: $black-ter;
        overflow-x: auto;

        .line {
            white-space: nowrap;

            .path {
                color: $primary;
            }

            .prompt {
                color: $danger;
            }

            .command {
                color: #f0e68c;
            }

            .output {
                color: $grey;
            }
        }
    }
}

// API gen specific

.api-code {
    font-family: monospace;
    margin-bottom: 1rem;
    scroll-margin-top: 5.25rem;

    pre {
        background-color: transparent;
    }

    .line {
        white-space: nowrap;
    }

    a.record-field-name,
    a.union-case-property,
    a.property {
        // color: #4078f2;
        color: darken($primary, 4%);

        &:hover {
            text-decoration: underline;
        }
    }

    span.property {
        color: darken($primary, 4%);
    }

    @keyframes blink {
        0% {
            background-color: lighten($primary, 4%);
            color: $white;
        }
        100% {
            background-color: transparent;
            color: $link;
        }
    }

    .property[id],
    a[id] {
        &:target {
            animation-name: blink;
            animation-direction: normal;
            animation-duration: 0.75s;
            animation-iteration-count: 2;
            animation-timing-function: ease;
        }

        // On desktop and above we only have the navbar to take into account
        @include desktop {
            &[id] {
                scroll-margin-top: $computed-navbar-height + 1rem;
            }
        }

        // On touch screen we need to take into account the navbar and the breadcrumb
        @include touch {
            &[id] {
                scroll-margin-top: $computed-navbar-height + $navbar-height + 1rem;
            }
        }
    }

    .keyword {
        color: #a626a4;
    }

    .type {
        color: #c18401;
    }
}

.docs-summary {
    margin-top: 2rem;
    margin-bottom: 2rem;
    // border-top: 1px solid $grey-dark;
}

dl.docs-parameters {
    margin-left: 1rem;
}

dl.docs-parameters dt:not(:first-child) {
    padding-top: 1rem;
    border-top: 1px solid $grey-dark;
}

/* dl.docs-parameters dt:before {
    position: absolute;
    margin-left: -0.5rem;
    display: inline-block;
    content: '-';
} */

dl.docs-parameters dd {
    margin-top: 1em;
    margin-bottom: 1em;
}

.doc-parameter {
    margin-bottom: 1rem;
}

dl.docs-parameters dt code {
    color: currentColor;
}

.docs-summary a.type,
dl.docs-parameters dt a.type {
    color: #c18401;
}

.docs-summary a.type:hover,
.api-code .type:hover,
dl.docs-parameters dt a.type:hover {
    text-decoration: underline;
    cursor: pointer;
}

dt.api-code {
    .return-type {
        a {
            color: #c18401;
        }
    }
}

.record-field {
    .record-field-type {
        a {
            color: #c18401;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .record-field-name {
        // color: $text;

        &:hover {
            text-decoration: underline;
        }
    }
}

a.union-case-property {
    &:hover {
        text-decoration: underline;
    }
}

.table.api-code {
    td {
        padding: 0.25rem;
        border: unset;
    }
}
