@import "./../node_modules/bulma/sass/utilities/initial-variables";

// Customize bulma base variables
$primary: #44387a;
$text: #2b2b2b;

@import "./../node_modules/bulma/sass/utilities/derived-variables";

// Customize others bulma variables

$navbar-item-color: $white;
$navbar-item-active-color: $white-bis;
$navbar-item-active-background-color: lighten($primary, 8%);
$navbar-background-color: $primary;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: lighten($primary, 8%);

$menu-item-active-background-color: $primary;
$menu-item-active-color: $white;
$menu-item-hover-color: $primary;
$menu-item-hover-background-color: transparent;
$menu-label-font-size: $size-6;
$menu-item-radius: $radius-large $radius-large;

$link: $primary;

$body-size: 14px;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import './../node_modules/bulma/bulma.sass';

// Customize nacara variables
// $textual-steps-color: red;

@import './../node_modules/nacara-layout-standard/scss/nacara.scss';

@import './scss//my-style.scss';
